/* Nord Color Palette */
:root {
    --nord-0: #3b4252;
    --nord-1: #434c5e;
    --nord-2: #4c566a;
    --nord-3: #d8dee9;
    --nord-4: #e5e9f0;
    --nord-5: #eceff4;
    --nord-6: #8fbcbb;
    --nord-7: #88c0d0;
    --nord-8: #81a1c1;
    --nord-9: #5e81ac;
    --nord-10: #3b4252;
    --nord-11: #2e3440;
}


body {
    background-color: var(--nord-11);
    color: var(--nord-4);
}


a {
    color: var(--nord-7);
}

a:hover {
    color: var(--nord-8);
}
